.tabs-horizontal{
    position: relative;
    margin-right: auto;
    padding: auto;
    height: 600px;
} 

.tabs-vertical{
    position: relative;
    margin-right: auto;
    padding: auto;
    height: 100px;
} 

.display {
    display: block !important;
    position: absolute;
    left: 0px;
}
