
.modalTitle {
    margin: 4px;
    padding: 20px 30px;
    background-color: #FFC0CB;
    border: 1px solid gray;
    font-weight: bold;

}

.modalBody {
    margin: 20px;
    padding-left: 30px;
    padding-top: 20px;
    border-bottom: 5px;
    border-color: black;

}

.modalFooter {
    margin: 4px;
    padding: 10px 16px;
    text-align: right;
}

.modalContent {
    position: fixed;
    background-color: rgb(245, 244, 244);
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2),0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.shown {
    display: block;
}