
.carousel {
    position: relative;
    margin: 10px;
}

.carousel-small {
    width: 300px;
    height: 200px;
}

.carousel-medium {
    box-sizing: border-box;
    width: 500px;
    height: 400px;
}

.carousel-large {
    width: 800px;
    height: 700px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  