/* Style the tab content */


.dark {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    color: greenyellow;
    background-color: rgb(51, 50, 50);
}

.light {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(238, 231, 231);
}

.content-dark{
    display: none;
    width: 800px;
    height: 500px;
    margin-top: 54px;
    background-color: rgb(31, 29, 29);
    color: greenyellow;
    padding:20px;

}
.content-light{
    display: none;
    width: 800px;
    height: 500px;
    margin-top: 54px;
    background-color: whitesmoke;
    padding:20px;
}


/* Style the buttons inside the tab */
.btn {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */
.btn:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.btn:active {
    background-color: gray;
}
.btn:focus {
    background-color: lightgray;
}