/* Style the tab content */


.tab {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block;
}

.tabcontent {
    visibility: hidden;
    
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


.isActive {
    visibility: visible;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
