/* Style the tab content */


.dark {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(29, 27, 27);
}

.dark {
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgb(238, 231, 231);
}

.content-light{
    display: none;
    width: 800px;
    height: 500px;
    margin-top: 50px;
    background-color: rgb(31, 29, 29);
}
.content-dark{
    display: none;
    width: 800px;
    height: 500px;
    margin-top: 50px;
    background-color: whitesmoke;
}


/* Style the buttons inside the tab */
.btn {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */
.btn:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.btn.active {
    background-color: #ccc;
}
